.TABLE { border: 1 solid #888800 ;background-color: #FFFFFF}
.TABLE_MAX { border: 1 solid #888800 ;background-color: #FFFFFF; width=100%}
.TABLE_MIN { border: 1  solid #888800 ;background-color: #FFFFFF; width=0%;
             line-height: 100%}
.TABLE_BG1 {border: 1 solid #000000 ;background-color: #C0C0C0}
.TABLE_BG2 { border: 0 solid #880000 }
.TABLE_BG3 { border: 1 solid #888800 ;background-color: #A9A9A9}
.TABLE_L { border: 0;   margin-left: 45 }
.TABLE_LC { border: 1 solid #888800 ;background-color: #FFFFFF;  margin-left: 45 }

.CAPTION {cellspacing: 0; border: 1 solid #888800 ;background-color: #BBBBFF;
          font-size: 13 pt; font-family:Trebuchet MS;
          color: #000000;
          font-style: normal; font-weight: bold}

.CELL_TITLE {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          font-size: 10 pt; font-family:Trebuchet MS;
          color: #000000;
          font-style: normal; font-weight: bold}

.ROW {}  
.ROW8 {background-color: #FFFF00;}
.ROW7 {background-color: #FFFF99;}
.ROW6 {background-color: #FFFF00;}
.ROW5 {background-color: #FFFF99;}
.ROW4 {background-color: #FFFF00;} 
.ROW3 {background-color: #FFFF99;}
.ROW2 {background-color: #FFFF00;}
.ROW1 {background-color: #FFFF99;}

.CELL {  padding-left: 5pt; padding-right: 5 pt }
.CELL_BG1 { background-color: #BBBBFF ; padding-left: 5pt; padding-right: 5 pt  }
.CELL_BG2 { padding-left: 5pt; padding-right: 5 pt}


.CELL_R {  text-align: right; }
.CELL_RW { text-align: right; }
.CELL_U { padding-left: 5pt; padding-right: 5 pt; vertical-align : top; }
.CELL_UR { text-align: right;padding-left: 5pt; padding-right: 5 pt; vertical-align : top; }
.CELL_print { background-color: white; font-size: 7pt ; padding-left: 5pt; padding-right: 5 pt}

.ICON {height: 19px ; border: 0 ;}

.TITLE_PAGE { text-indent: 0;  font-size: 18 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: center ; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE_PRINT { text-indent: 0;  font-size: 28 pt; font-family: 
               Times; line-height: 100%; text-align: center ; color: green;
               font-style: italic; font-weight: bold }                              
.TITLE2 { text-indent: 0; background-color: #FFFFFF; font-size: 14 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE3 { text-indent: 30; background-color: #FFFFFF; font-size: 13 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: italic}
.TITLE4 { text-indent: 0;  font-size: 14 pt; font-family:Trebuchet MS;
					line-height: 100%; text-align: left; color: #000000; font-weight: bold;
               font-style: italic; text-decoration: underline; margin-top: 0 }
               
               
.P { text-indent: 0;  font-size: 10 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: justify ; color: #000000 }
.P_small    { text-align: justify; line-height: 100%; text-indent: 0; font-size: 9 pt; font-family: 
               Trebuchet MS;  margin-top: 3; margin-bottom: 0 }
.P_medium	{ text-align: justify; line-height: 130%; text-indent: 0; font-size: 10 pt; font-family: 
               Trebuchet MS;  margin-top: 3; margin-bottom: 0 }               
.P_right		{ text-align: right; line-height: 130%; text-indent: 0; font-size: 13 pt; font-family: 
               courrier ;  margin-top: 3; margin-bottom: 0 ; color: red  }               

