.TABLE { border: 1  solid #888800 ;background-color: #FFFFFF; width=100%;  font-family:Trebuchet MS;
         padding-left: 8pt; padding-right: 8 pt}
.TABLE_MIN { border: 1  solid #888800 ;background-color: #FFFFFF; width=0%;
             line-height: 100%}
.TABLE_BG1 {border: 1 solid #000000 ;background-color: #C0C0C0}
.TABLE_BG2 { border: 0 solid #880000 ;background-color: white}
.TABLE_BG3 { border: 1 solid #888800 ;background-color: #191919}
.TABLE_BG4 { border: 1 solid #880000 ;background-color: white}

.CAPTION {cellspacing: 0; border: 1 solid #888800 ;background-color: #BBBBFF;
           font-family:Trebuchet MS;
          color: #000000;
          font-style: bold; font-weight: bold}

.CELL_TITLE {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
           font-family:Trebuchet MS;
          color: #000000;
          font-style: normal; font-weight: bold}
.CELL_TITLE_R {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          color: #000000;
          font-style: normal; font-weight: bold ; text-align: right;}

.ROW {background-color: #EEFFFF}
.ROWnegatif {background-color: #EEFFFF ;color:red;}
.ROWODD{background-color:  #DDDFFF ; font-weight: bold }
.ROWEVEN{background-color: #FFFFFF }

.ROWODDnegatif{background-color:  #DDDFFF ; font-weight: bold ;color:red;}
.ROWEVENnegatif{background-color: #FFFFFF ; color:red;}

.CELL_OLD { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt }
.CELL_BG1 { background-color: #BBBBFF ; padding-left: 5pt; padding-right: 5 pt ; font-weight: bold  }
.CELL_BG1_R { background-color: #BBBBFF ; padding-left: 5pt; padding-right: 5 pt ; font-weight: bold ; text-align: right }
.CELL_BG2 { background-color: white}
.CELL_R {  text-align: right; }
.CELL_FIX { background-color: #EEFFFF; font-family: Courier }
.CELL_WARNING { background-color: #FFDDDD;  }
.CELL_print { background-color: white;  padding-left: 5pt; padding-right: 5 pt}
.CELL_LIB { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: italic; }
.CELL_CODE { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: normal; }
.CELL_VAL { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: normal; font-weight: bold }

.ICON {height: 19px ; border: 0 ;}

.TITLE_PAGE { text-indent: 0; background-color: #FFFFFF;  font-family: 
               Trebuchet MS; line-height: 100%; text-align: center ; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE2 { text-indent: 0; background-color: #FFFFFF;  font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE3 { text-indent: 30; background-color: #FFFFFF;  font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: italic}
.TITLE4 {   font-size: 14 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: center; color: #000000;
               font-style: normal; font-weight: bold }    
                              
.P { text-indent: 0;   font-family: 
               Trebuchet MS; line-height: 20%; text-align: justify ; color: #000000 }
.P_small    { text-align: justify; line-height: 100%; text-indent: 0;  font-family: 
               Trebuchet MS; color: #000000; margin-top: 3; margin-bottom: 0 }


