.TABLE { border: 1  solid #888800 ;background-color: #FFFFFF; width=100%}
.TABLE_MIN { border: 1  solid #888800 ;background-color: #FFFFFF; width=0%;
             line-height: 100%}
.TABLE_MARGIN { border: 1  solid #888800 ;background-color: #FFFFFF; width=0%;
					margin-left:140}
             
.TABLE_BG1 {border: 1 solid #000000 ;background-color: #C0C0C0}
.TABLE_BG2 { border: 0 solid #880000 ;background-color: white}
.TABLE_BG2_100 { border: 0 solid #880000 ;background-color: white; width=100%}
.TABLE_BG3 { border: 1 solid #888800 ;background-color: #191919}
.TABLE_BG4 { border: 0 solid #880000 ;background-color: black; width=100%;font-size: 10 pt;text-align: center ;font-family:Times}
.TABLE_BG5 { border: 0 solid #880000 ;background-color: white; width=100%;font-size: 10 pt;text-align: center ;font-family:Times}



.CAPTION {cellspacing: 0; border: 1 solid #888800 ;background-color: #BBBBFF;
          font-size: 12 pt; font-family:Trebuchet MS;
          color: #000000;
          font-style: bold; font-weight: bold}
          
.CELL_BG2_HEADER{cellspacing: 0; border: 0 ;background-color: #D2D2D2;
          			font-size: 8 pt; font-family:Trebuchet MS;
          			color: #000000; padding-left: 2pt; padding-right: 10 pt ;
          			font-style: bold; font-weight: bold;}    
.CELL_BG3_HEADER_GREEN{cellspacing: 0; border: 0 ;background-color: #D2D2D2;
          			font-size: 8 pt; font-family:Trebuchet MS; text-align: center;
          			color: #000000; font-style: normal; font-weight: bold;}              			
.CELL_BG2_CENTER{  center;text-align: center;background-color: white;} 
.CELL_BG2_9 { background-color: white; font-size: 9 pt;text-align: left;font-weight: normal;vertical-align : top;}   
.CELL_BG2_9_CENTER { background-color: white; font-size: 9 pt;text-align: left;font-weight: normal;vertical-align : middle}   
.CELL_BG2_9_GREEN { background-color: white; font-size: 9 pt; font-family:Trebuchet MS; text-align: left ;font-weight: bold;vertical-align : top;color: #006633; text-indent: 10}   
.CELL_BG2_ITALIC_9 { background-color: white; font-size: 9 pt;text-align: left;font-weight: normal;font-style: italic;vertical-align : top;line-height: 100%}
          			      
.CELL_TITLE {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          font-size: 10 pt; font-family:Trebuchet MS;
          color: #000000; height: 12 pt;
          font-style: normal; font-weight: bold}
.CELL_TITLE_FIX {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          font-size: 9 pt; font-family:Trebuchet MS;
          color: #000000; height: 11 pt;width=120 pt;
          font-style: normal; font-weight: bold}


.CELL_TITLE_R {cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          color: #000000;
          font-style: normal; font-weight: bold ; text-align: right;}
 
.CELL_SPLIT{background-color: #BBBBFF; font-size: 4 pt}
.CELL_L { padding-left: 3pt;text-align: left; }    
.CELL_WHITE_L { padding-left: 3pt;text-align: left;background-color: white;}    
.CELL_WHITE {background-color: white;}
.CELL_BLUE {background-color: #CCFFFF;}
.CELL_GRAY {background-color: #D2D2D2}
.CELL_EMPTY_GRAY {background-color: #D2D2D2; color: #D2D2D2}
.CELL_YELLOW {background-color: #FFFF99}
.CELL_YELLOW_RED {background-color: #FFFF99; color: #FF0000;}
.CELL_ORANGE {background-color: #FFCC66}
.CELL_ORANGE_RED {background-color: #FFCC66; color: #FF0000;}
.CELL_RED {background-color: #CC0000}
.CELL_RED_YELLOW {background-color: #CC0000; color: #FFFF99;}
.CELL_RED_GEEEN {background-color: #CC0000; color: black;}
.CELL_DARK_BLUE {background-color: #99CCFF}
.CELL_DARK_YELLOW {background-color: #FFFF00}
.CELL_DARK_YELLOW_RED {background-color: #FFFF00; color: #FF0000;}    
.CELL_DARK_ORANGE {background-color: #FF9933} 
.CELL_DARK_ORANGE_RED {background-color: #FF9933; color: #FF0000;}       
.CELL_NEG {  text-align: right; color: red;background-color: white; }
.CELL_POS {  text-align: right; color: black;background-color: white; }
.CELL_NEG_STD {  text-align: right; color: red;}
.CELL_POS_STD {  text-align: right; color: black;}
.CELL_NEG_GRAY {  text-align: right; color: red;background-color: #D2D2D2 }
.CELL_POS_GRAY {  text-align: right; color: black;background-color: #D2D2D2 } 
.CELL_TEXT_RED {   color: red;}
.CELL_TEXT_GREEN {   color: green;}
.CELL_LIB { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: italic; font-weight: normal;text-align: left;}
.CELL_CODE { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: normal; font-weight: normal;}
.CELL_VAL { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt;font-style: normal; font-weight: bold; text-align: left;}

.CELL_TITLE_TWR{cellspacing: 0; border: 0 solid #888800 ;background-color: #BBBBFF;
          		font-size: 8 pt; font-family:Trebuchet MS;color: #000000; height: 10pt;
          		font-style: normal; font-weight: bold}
.CELL_TWR{cellspacing: 0; border: 0 solid #888800 ;font-size: 8 pt; font-family:Trebuchet MS;
					height: 10pt;font-style: normal;font-weight: normal;text-align: left;}
.CELL_TWR_R{cellspacing: 0; border: 0 solid #888800 ;font-size: 8 pt; font-family:Trebuchet MS;
					height: 10pt;font-style: normal;font-weight: normal;text-align: right;}					
 .CELL_3TWR{cellspacing: 0; border: 0 solid #888800 ;font-size: 8 pt; font-family:Trebuchet MS;
					height: 10pt;font-style: normal;font-weight: normal;text-align: left;background-color: #EEEFFF}
.CELL_3TWR_R{cellspacing: 0; border: 0 solid #888800 ;font-size: 8 pt; font-family:Trebuchet MS;
					height: 10pt;font-style: normal;font-weight: normal;text-align: right;background-color: #EEEFFF}			
 
 
 

.ROW {background-color: #EEFFFF}
.ROW_BG4 { background-color: white}
.ROWODD{background-color:  #EEFFFF}
.ROWEVEN{background-color: #EEEFFF}
.CELL_OLD { background-color: #EEFFFF; padding-left: 2pt; padding-right: 2 pt }
.CELL_BG1 { background-color: #BBBBFF ; padding-left: 5pt; padding-right: 5 pt  }
.CELL_BG1R { background-color: #BBBBFF ; text-align: right ;font-weight: bold}
.CELL_BG2 { background-color: white}
.CELL_BG2R { background-color: white; text-align: right}
.CELL_BG3R { background-color: EEEFFF; text-align: right; font-weight: normal}
.CELL_BG2_UP {background-color: white; vertical-align : top;}
.CELL_R {  text-align: right; }
.CELL_FIX { background-color: #EEFFFF; font-family: Courier }
.CELL_WARNING { background-color: #FFDDDD;  }
.CELL_print { background-color: white; font-size: 7pt ; padding-left: 5pt; padding-right: 5 pt}

.ICON {height: 19px ;  border: 0 ;}
.ICON_12 {height: 12px ;  border: 0 ;}
.ICON_WZ{border: 0 ;}
.ICON_LT{height: 15px ; border: 0 ;}
.SIG{height: 120px ;  border: 0 ;}
.SIG_LT{height: 50px ;  border: 0 ;}

.TITLE_PAGE { text-indent: 0; background-color: #FFFFFF; font-size: 18 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: center ; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE2 { text-indent: 0; background-color: #FFFFFF;  font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: normal; font-weight: bold }
.TITLE3 { text-indent: 30; background-color: #FFFFFF; font-size: 13 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: left; color: #000000;
               font-style: italic}
.TITLE4 {   font-size: 14 pt; font-family: 
               Trebuchet MS; line-height: 100%; text-align: center; color: #000000;
               font-style: normal; font-weight: bold }               
               
.P { text-indent: 0;  font-size: 10 pt; font-family: 
               Trebuchet MS; line-height: 20%; text-align: justify ; color: #000000 }
.P_small    { text-align: justify; line-height: 100%; text-indent: 0; font-size: 9 pt; font-family: 
               Trebuchet MS;  margin-top: 3; margin-bottom: 0 ; color: #000000}
               

